footer{
    width: 100%;
    height: auto;
    padding: 16px 0;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
    background-color: #0a8dca;
    color: #f9f9f9;
}


a{
    text-decoration: none;
    color: #f9f9f9;
    font-weight: 800;
}

footer svg{
    cursor: pointer;
    transition: .2s all ease-in-out;
    margin: 8px;
}

footer svg:hover{
    opacity: 0.5;
}

