/*-----------------Corpo-------------------*/
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    border:none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #b8eeee; 
}
a{text-decoration: none;}
ul{list-style: none;}
img{max-width: 100%;}
.space{height: 100px;}
.space-md{margin-top: 2%}
.container {
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
}
/*-----------------Cabeçalho-------------------*/
.cabecalho{ 
    background-color: #1b1b1b;
    height: 150px;
    color: white;
}
.logo{
    width: 56px;
    height: 56px;
    float: left;
    background: url(img/logo.png) 56px no-repeat;
    font-size: 0;
    margin-top: -2%;
}
/*BANNER*/
.title{
    background-color: #ffffff;
    padding: 2%;
    border-radius: 7px;
    box-shadow: 5px 5px 8px #cccccc;
}
.banner h2{
    font-size: 2.5em;
    color: rgb(91, 175, 214);
    font-weight: 700;
}
.banner h3{
    margin-top: 0;
    font-size: 1.5em;
    color: rgb(226, 104, 165);
}
/*-----------------Container artigos-------------------*/
.info{
    width: 100%;
    background-color: white;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 3%;
    box-shadow: 5px 5px 8px #999999;
    display: inline-block;
}
.info img{
    border-radius: 7px 7px 0 0;
    width: 100%;
    transition: all .4s ease-in-out;
}
.info img:hover{
    transform: scale(1.05);
    border-radius: 10px;
    box-shadow: 4px 4px 14px #a1a1a1;
}
.inner{
    padding: 7%;
}
.inner a{
    font-size: 1.5em;
    color: black;
    font-weight: 700;
}
.inner h4{
    font-size: 1.2em;
    margin-top: 2%;
}
.inner p{
    margin-top: 6%;
}
/*-----------------App-------------------*/
.inner .focus{
    float: left;
    width: 95px;
    height: 85px;
    border-radius: 7px;
    margin-top: 6%;
    margin-right: 5%;
    box-shadow: 3px 3px 8px rgb(190, 190, 190);
}
.inner .focus:hover{
    transition: all 0.5s ease-out;
    transform: scale(1.05);
}
.inner p{
    text-align: justify;
}
/*-----------------Rodapé-------------------*/
.rodape{
    background-color: #1b1b1b;
    color: white;
    font-weight: 700;
}
.rodape a{
    color: white;
}
/*-----------------Botão-------------------*/
.seeMore{
    width: 100px;
    height: 50px;
    background-color: #ff489d; /* Green */
    border: 2px solid #ff489d;
    border-radius: 30px;
    box-shadow: 2px 2px 5px #a1a1a1;
    color: white;
    display: block;
    margin: 5% 35%;
    font-family: 'Oxygen';
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: left;
}
.seeMore:hover{
    background-color: white;   
    color: #ff489d;
    cursor: pointer;
}
/*-----------------Monitores-------------------*/
@media screen and (min-width: 768px){
    .info {
        width: 49%;
        float:left;
        margin-right: 2%;
    }
    .logo{
        width: 214px;
        height: 120px;
        background: url(img/childways.png) center center/ 150px no-repeat;
    }
    .info:nth-child(2){
        margin-right: 0;
    }
    .info img{
        height: 20em;
    }
}
@media screen and (min-width: 1280px){
    .info {
        width: 29%;
        float:left;
        margin-left:2%;
    }
    .logo{
        width: 250px;
        height: 250px;
        background: url(img/childways.png) center center/ 250px no-repeat;
        margin-top: -3%;
    }
    .info:nth-child(2){
        margin-right: 2%;
    }
}

 
