
.Content{
    padding: 30px 90px;
}
  
.Content h3{
    font-size: 24px;
    font-weight: 700; 
    margin: 20px 0;
}

.Content p{
    font-size: 18px;
    text-align: justify;
}

.Content ul{
    list-style: none;
}

.Content li{
    margin: 10px 
}