#main-header{
    width: 100%;
    background: #282c34;
    height: 60px;
    color: white;
    font-size: 14pt;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-header img{
    height: 56px;
    width: 56px;
    filter: grayscale(0.5);
}
#main-header h1{
    margin-left: 1%;
}