.sideBar{
    width: 350px;
    height: 100vh;
    background-color: #161616;

    left: 0;
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.userInterface{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insideBar{
    width: 170px;
    height: 170px;
    margin-top: 30px;

    overflow: hidden;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f9f9f9;
}

.insideBar img{
    width: 99%;
}

.sideBar h2{
    font-size: 32px;
    font-weight: bolder;
    color: #f9f9f9;
    margin-top: 30px;
}

.logout{
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
}

.logout p{
    margin-right: 10px;
    font-weight: bolder;
}

.logout svg{
    color: #ff6b6b;
}

.config ul{
    list-style: none;
    color: #fff;
}

.config li{
    background-color: #0baffb;
    cursor: pointer;
    
    font-size: 24px;
    margin-bottom: 5px;
    padding: 10px 50px;

    border-radius: 4px;
    
    transition: .2s all ease-in-out;
}

.config li:hover{
    background-color: #0a8dca;
}

.config p{
    margin-top: 10px;
    color: #f9f9f9;
    cursor: pointer;
}

