* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-weight: 400;
}

body, html, #root{
  height: 100vh;
  width: 100vw;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

.Home{
  margin-left: 350px;

  display: flex;
  flex-direction: column;
}

section{
  height: 100%;
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 30px 90px;
}

section h3{
  font-size: 32px;
  font-weight: 700; 
  margin: 20px 0;
}

.intro{
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro h1{
  font-size: 48px;
  margin-top: 64px;
  color: #222222;
}